
 <!--Header-->
<app-header></app-header>
 <!--Fin Header-->

 <!--Intro Section-->
 <app-intro-section></app-intro-section>
 <!--Fin Intro Section-->

<!--About Us Section-->
<app-about-us-section></app-about-us-section>
<!--Fin About Us Section-->

<!--Services Section--> 
<app-services-section></app-services-section>
<!--Fin Services Section-->

<!--Why Us Section-->
<app-why-us-section></app-why-us-section>
<!--Fin Why Us Section-->

<!--Portfolio Section-->
<app-portfolio-section></app-portfolio-section>
<!--Fin Portfolio Section-->

<!--Clients Section-->
<app-clients-section></app-clients-section>
<!--Fin Clients Section-->

<!--Team Section-->
<app-team-section></app-team-section>
<!--Fin Team Section-->

<!--Contact Section-->
<app-contact-section></app-contact-section>
<!--Fin Contact Section-->

<!--Footer-->
<app-footer></app-footer>
<!--Fin Footer-->

<!--Testimonials-->
<app-testimonials></app-testimonials>
<!--Fin Testimonials-->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

<router-outlet></router-outlet>